
.pizza, .oil, .pasta{
    float: left;
    text-align: center;
    width: 20%;
    margin-left: 100px;
    position: relative;
}

h5{
    font-size: 20px;
    position: relative;
    margin: 10px;
}

aside{
    position: absolute;
    top: 270px;
}
