span {
    border: 1px solid black;
    display: inline-block;
    width: 12.3%;
    text-align: center;
    padding: 40px 0px;
    margin-bottom: 20px;
    font-size: 40px;
}

span:nth-child(even) {
    background-color: black;
    color: white;
}