textarea{
    vertical-align: bottom;
}


.satisfaction, .emotions{
        padding-left: 70px;
}

label{
    padding: 50px;
}

.submit, .reset{
    margin-left: 100px;
}

input{
    margin-left: 40px;
}

.lokacija{
    padding-right: 0px;
}
