.row {
    width: 100%;
    overflow: hidden;
}



/* Za mobilne uredjaje */


@media only screen and (max-width: 600px) {
    .col-t-1 {
        width: 8.33%;
    }
    .col-t-2 {
        width: 16.66%;
    }
    .col-t-3 {
        width: 25%;
    }
    .col-t-4 {
        width: 33.33%;
    }
    .col-t-5 {
        width: 41.66%;
    }
    .col-t-6 {
        width: 50%;
    }
    .col-t-7 {
        width: 58.33%;
    }
    .col-t-8 {
        width: 66.33%;
    }
    .col-t-9 {
        width: 75%;
    }
    .col-t-10 {
        width: 83.33%;
    }
    .col-t-11 {
        width: 91.66%;
    }
    .col-t-12 {
        width: 100%;
    }
    .trenutniKorisnik {
        left: 10%;
    }
    .levo {
        left: 0%
    }
}

@media only screen and (min-width: 601px) and  (max-width:799px) {
    .col-tablet-1 {
        width: 8.33%;
    }
    .col-tablet-2 {
        width: 16.66%;
    }
    .col-tablet-3 {
        width: 25%;
    }
    .col-tablet-4 {
        width: 33.33%;
    }
    .col-tablet-5 {
        width: 41.66%;
    }
    .col-tablet-6 {
        width: 50%;
    }
    .col-tablet-7 {
        width: 58.33%;
    }
    .col-tablet-8 {
        width: 66.33%;
    }
    .col-tablet-9 {
        width: 75%;
    }
    .col-tablet-10 {
        width: 83.33%;
    }
    .col-tablet-11 {
        width: 91.66%;
    }
    .col-tablet-12 {
        width: 100%;
    }
    .trenutniKorisnik {
        left: 40%;
    }
    .dugme {
        width: 100%;
    }
    
}


/* Za desktop uredjaje */
@media only screen and (min-width: 800px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 24.5%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.33%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}