* {
    box-sizing: border-box;
    margin: 2;
    padding: 0;
}

.row {
    width: 100%;
    
    height: 40px;
}

textarea{
        height: 200px;
        width: 75%;
        border: 2px solid silver;
        border-radius: 3px;
        
}

input {
    height: 30px;
}
.zemlje {
    height: 30px;
}
::placeholder {
    position: relative;
    left: 10px;
}
form {
    position: relative;
}






[class*="col-"] {
    float: left;
}

/* Za mobilne uredjaje */
[class*="col-"] {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    
    .col-t-1 {
        width: 8.33%;
    }
    .col-t-2 {
        width: 16.66%;
    }
    .col-t-3 {
        width: 25%;
    }
    .col-t-4 {
        width: 33.33%;
    }
    .col-t-5 {
        width: 41.66%;
    }
    .col-t-6 {
        width: 50%;
    }
    .col-t-7 {
        width: 58.33%;
    }
    .col-t-8 {
        width: 66.33%;
    }
    .col-t-9 {
        width: 75%;
    }
    .col-t-10 {
        width: 83.33%;
    }
    .col-t-11 {
        width: 91.66%;
    }
    .col-t-12 {
        width: 100%;
    }
    label  {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    button {
        background-color: rgb(41, 231, 41);
        color: white;
        border: none;
        border-radius: 6px;
        padding: 5px;
        margin-top: 20px;
        /*margin-top: 5px;
        position: absolute;
        right: 0;
        top: 320px; */
        position: relative;
        top: 185px;
        
    }
    textarea {
        width: 100%;
    }
    .nepostojani {
        display: none;
    }
}


/* Za desktop uredjaje */
@media only screen and (min-width: 600px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.33%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    button {
        background-color: rgb(41, 231, 41);
        color: white;
        border: none;
        border-radius: 6px;
        padding: 5px;
        margin-top: 5px;
        position: absolute;
        right: 0;
        top: 320px;
        
    }
}